* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    padding: 1.5rem;
    border: 2px solid hsl(195, 53%, 79%);
    background-color: hsl(195, 53%, 79%);

    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding:1rem;
}

p {
    padding: 1rem;
    margin-bottom: 0.8rem;
}

button {
    padding: 0.8rem;
    background-color: hsl(195, 53%, 79%);
    border: 1px solid hsl(195, 38%, 48%);
}

dialog {
    padding: 2rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.2);
    margin: auto;
    width: 75%;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(1px);
}

form {
    display: table;
    padding: 1rem;
    border: 1px solid hsl(195, 38%, 48%);
}

.form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 0.8rem;
}

label {
    padding-right: 1rem;
}

input {
    background-color: hsl(194, 42%, 84%);
    padding: 0.4rem 0.8rem;
}


