* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding:1rem;
}

p {
    padding: 1rem;
    background-color: hsl(195, 53%, 79%);
    margin-bottom: 0.8rem;
}

button {
    padding: 0.8rem;
    background-color: hsl(195, 53%, 79%);
    border: 1px solid hsl(195, 38%, 48%);
}

form.form {
    display: table;
    padding: 1rem;
    border: 1px solid hsl(195, 38%, 48%);
}

.form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 0.8rem;
}

label {
    padding-right: 1rem;
}

input {
    background-color: hsl(194, 42%, 84%);
    padding: 0.4rem 0.8rem;
}


