* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding:1rem;
}

p {
    padding: 1rem;
    background-color: hsl(195, 53%, 79%);
    margin-bottom: 0.8rem;
}

button {
    padding: 0.8rem;
    background-color: hsl(195, 53%, 79%);
    border: 1px solid hsl(195, 38%, 48%);
}


