* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border: none;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    background-color: hsl(195, 38%, 48%);
    color: white;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding:1rem;
}

.header-actions {
    display: flex;
    justify-content: center;
}

#newBook {
    margin: 2rem auto;
    background-color: hsl(195, 38%, 48%);
    color: white;
    font-weight: 900;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

#newBook:hover {
    transform: scale(1.05);
    background-color: hsl(210, 29%, 29%);
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    padding: 1.5rem;
    border: 2px solid hsl(195, 53%, 79%);
    background-color: hsl(195, 53%, 79%);

    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.book-card .title {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    font-style: normal;
}

.book-card p {
    margin-bottom: 0;
    font-style: italic;
    font-size: 0.95rem;  
}

.status-text {
    font-weight: 900;
    font-style: normal !important;
    margin-top: auto;
}

dialog {
    padding: 2rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.2);
    margin: auto;
    width: min(90%, 400px);
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(1px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-buttons {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 0.8rem;
}

.btn-remove {
    background-color: hsl(0, 70%, 90%);
    border-color: hsl(0, 70%, 60%);
    color: hsl(0, 70%, 30%);
}

.btn-remove:hover {
    background-color: hsl(0, 70%, 80%);
}

.btn-toggle {
    color: white;
    transition: background-color 0.2s;
}

.btn-toggle:hover {
    background-color: hsl(195, 38%, 38%);
}


